* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

#duodoodle {
  width: 100%;
  height: 100%;
  background-image: url(/images/linedpaper.png); }

.tile-normal svg {
  fill: #444; }
  .tile-normal svg:hover {
    fill: #444; }

.tile-normal.active svg {
  fill: #444; }

#left-control {
  width: 30px;
  height: 100%;
  position: absolute;
  top: 30px;
  left: 0; }

.tile-normal {
  width: 30px;
  height: 30px;
  cursor: pointer; }

.tile-divider {
  cursor: default;
  height: 16px; }

.tile-normal.color-tile {
  width: 50px;
  position: relative;
  left: -20px;
  transition: all 0.15s ease; }
  .tile-normal.color-tile.active {
    transform: translateX(5px); }
  .tile-normal.color-tile:hover {
    transform: translateX(10px); }

.tile-normal.mode-tile {
  height: 25px; }
  .tile-normal.mode-tile svg {
    fill: #888; }

.tile-normal.mode-tile.active svg {
  fill: #444; }

.tile-normal.size-tile {
  height: auto;
  margin: 7px 0; }
  .tile-normal.size-tile .circle {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #444; }
  .tile-normal.size-tile .circle.active {
    background-color: #444; }
  .tile-normal.size-tile:hover .circle {
    background-color: #444; }
  .tile-normal.size-tile .circle-small {
    height: 8px;
    width: 8px; }
  .tile-normal.size-tile .circle-normal {
    height: 12px;
    width: 12px; }
  .tile-normal.size-tile .circle-medium {
    height: 17px;
    width: 17px; }
  .tile-normal.size-tile .circle-large {
    height: 23px;
    width: 23px; }

.tile-normal.opacity-tile #o-tl, .tile-normal.opacity-tile #o-l, .tile-normal.opacity-tile #o-bl, .tile-normal.opacity-tile #o-b, .tile-normal.opacity-tile #o-br, .tile-normal.opacity-tile #o-r, .tile-normal.opacity-tile #o-tr, .tile-normal.opacity-tile #o-t {
  display: none; }

.tile-normal.opacity-tile span.op100 {
  opacity: 1; }
  .tile-normal.opacity-tile span.op100 #o-tl, .tile-normal.opacity-tile span.op100 #o-l, .tile-normal.opacity-tile span.op100 #o-bl, .tile-normal.opacity-tile span.op100 #o-b, .tile-normal.opacity-tile span.op100 #o-br, .tile-normal.opacity-tile span.op100 #o-r, .tile-normal.opacity-tile span.op100 #o-tr, .tile-normal.opacity-tile span.op100 #o-t {
    display: inline; }

.tile-normal.opacity-tile span.op75 {
  opacity: 0.85; }
  .tile-normal.opacity-tile span.op75 #o-bl, .tile-normal.opacity-tile span.op75 #o-b, .tile-normal.opacity-tile span.op75 #o-br, .tile-normal.opacity-tile span.op75 #o-r, .tile-normal.opacity-tile span.op75 #o-tr, .tile-normal.opacity-tile span.op75 #o-t {
    display: inline; }

.tile-normal.opacity-tile span.op50 {
  opacity: 0.7; }
  .tile-normal.opacity-tile span.op50 #o-br, .tile-normal.opacity-tile span.op50 #o-r, .tile-normal.opacity-tile span.op50 #o-tr, .tile-normal.opacity-tile span.op50 #o-t {
    display: inline; }

.tile-normal.opacity-tile span.op25 {
  opacity: 0.6; }
  .tile-normal.opacity-tile span.op25 #o-tr, .tile-normal.opacity-tile span.op25 #o-t {
    display: inline; }

.tile-normal.layer-tile svg {
  transition: transform 0.5s ease; }

#trash:hover {
  animation-name: shake;
  animation-duration: 0.15s;
  animation-iteration-count: 1; }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(10deg); }
  50% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(0deg); } }

.mode-tile:hover {
  transform: translateX(2px);
  transition: transform 0.3s ease; }

#opacity:hover {
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes spin {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0); } }

/*# sourceMappingURL=style.css.map */